.container{
    width: 100vw;
    height: 100vh;

    display:flex;
    justify-content: center;
    align-items: center;
}
#home{
    background-color:red;
    font-size:500%;
    color:white;
}
#intro{
    background-color:blue;
}
#like{
    flex-wrap: wrap;
    background-color:yellow;
}

body{
    margin:0;
}

.container_half{
    width:50%
}

.card{
    width: 200px;
    height: 300px;
    
    background-color: aliceblue;
    margin: 10px;
}

.card_image{
    height:50%;
    background-color: brown;
}

.card_title{
    height:15%;
    background-color: blueviolet;
}

.card_description{
    height:35%;
    background-color: aquamarine;
}

.container_title{
    width:100%;
}

#img{
    width: 100%;
    height:100%;
}

.footer{
    height: 10vh;
}

.footer-copywrite{
    padding:30px;
}

ul{
    list-style-type: none;
    display: flex;
    margin:0;
}

li{
    padding: 10px;
}

.navbar{
    background-color: darkmagenta;
    position: fixed;
    width: 100vw;
}

